<ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)" size = "large" color = "#caaa58" type = "ball-fussion" ></ngx-spinner>

<div class="main-content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
        <div class="card">
          <div class="card-header card-header-primary">
            <h3 class="card-title">E-GC List</h3>
            <h6>You can add, update, and delete information on the current movies on this page.</h6>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover" cellspacing="0">
                  <thead>
                    <tr>
                      <th>QR Code</th>
                      <th>Date Issued</th>
                      <th>Amount</th>
                      <th>Reference ID</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let egc of egcs">
                        <td>
                          <a class="click-qr" (click)="viewQRcode(egc)">Click to view QR Code</a>
                        </td>
                        <td>{{egc.created_date | date: 'mediumDate'}}</td>
                        <td>{{egc.amount}}</td>
                        <td>{{egc.name}}</td>
                        <td class="status">{{egc.claimed ? 'CLAIMED': 'NOT CLAIMED'}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      <strong>{{selectedItem.name}}</strong>
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <div class="row">
        <div class="col-md-3">
          <label>Tenant Name</label>
        </div>
        <div class="col-md-3">
          <input type="text" [(ngModel)]="selectedItem.name" class="form-control" name="amount" style="background-image: linear-gradient(to top, #caaa58 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);">
        </div>
        <div class="col-md-3">
            <label>Description/Writeup</label>
          </div>
          <div class="col-md-3">
            <textarea type="" [(ngModel)]="selectedItem.name" class="form-control" name="amount" style="background-image: linear-gradient(to top, #caaa58 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);"></textarea>
          </div>
      </div>
      <div class="row" style="margin-top: 15px">
        <div class="col-md-12">
          
              <!-- <div *ngIf="isScanning" (keyup.enter)="handleInput($event)" tabindex="1"></div> -->
            </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-md-3">
        <button type="button" (click)="loadegc()" class="btn btn-default">Submit</button>
      </div>
  </div>
  </div>
</ng-template>