<ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)" size = "large" color = "#caaa58" type = "ball-fussion" ></ngx-spinner>

<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-primary">
        <h3>Finance Reports</h3>
        <h6>Summary of all reports to be used by Finance Team</h6>
      </div>
      <div class="card-body card-body-main">
          <div class="card-container">
              <div class="container">
                <div style="display: flex">
                    <div (click)="egcSold()" class="card card-btn">
                        <div class="card-header card-header-primary">
                          <div class="card-title">
                            <img class="img-title" src="../../../assets/img/egc-load.png">
                          </div>
                        </div>
                        <div class="card-body">
                          <span>View Sold E-GC Codes</span>
                        </div>
                    </div>
                    <div (click)="egcLoad()" class="card card-btn">
                        <div class="card-header card-header-primary">
                          <div class="card-title">
                            <img class="img-title" src="../../../assets/img/egc-list.png">
                          </div>
                        </div>
                        <div class="card-body">
                          <span>View Loaded E-GC Codes</span>
                        </div>
                    </div>
                    <div (click)="tenantClaim()" class="card card-btn">
                        <div class="card-header card-header-primary">
                          <div class="card-title">
                            <img class="img-title" src="../../../assets/img/egc-list.png">
                          </div>
                        </div>
                        <div class="card-body">
                          <span>View Tenant Claims</span>
                        </div>
                    </div>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
