.main-content{
    background: url(../../../assets/img/backdrop-rockwell.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-btn{
    width: 200px;
    margin: auto;
}

.modal-header, .modal-body, .modal-footer{
    background: #050B1C !important;
}

.form-group{
    text-align: center !important;
}

.form-group > button{
    margin-top: 15px;
}

.card-header-primary{
    background: #caaa58 !important;
}

i{
    color:#333333;;
}

td > i:hover{
    color: #caaa58;
}

.transactions {
    margin-top: 50px;
}

.container-card{
    display: flex;
}

.card-container{
    margin: 0 auto;
}

.img-title{
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.card-body-main{
    margin-top: 50px;
    margin-bottom: 50px;
}

.img-title > :hover{
    color: wheat;
}

.card-btn > .card-header > :hover{
    border: 2px solid lightgray;
    border-radius: 3px;
}