.main-content{
    background: url(../../../assets/img/backdrop-rockwell.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* .table > tbody > tr > td{
    padding-bottom: 5px;
    padding-top: 5px;
} */

.card-header-primary{
    background: #caaa58 !important;
}

i{
    color:#333333;;
}

td > i:hover{
    color: #caaa58;
}