<ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)" size = "large" color = "#caaa58" type = "ball-fussion" ></ngx-spinner>

<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <button type="button" class="btn btn-default" (click)="openSwal()">Load E-GC</button>
      </div>
  </div>
  </div>
  <div class="transactions">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <div class="card">
                  <div class="card-header card-header-primary">
                    <h4 class="card-title">Transactions</h4>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <thead class="text-primary">
                          <th>User</th>
                          <th>Message</th>
                          <th>Transaction Date</th>
                        </thead>
                        <tbody>
                          <tr *ngFor="let trans of transactions">
                            <td>{{trans.user}}</td>
                            <td>{{trans.message}}</td>
                            <td>{{trans.date_created | date: 'MM/dd/yyyy'}}</td>
                            <!-- <td>{{item.description}}</td> -->
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <!-- <div class="row">
          <div class="col-md-4">
            <label><h3>Transactions</h3></label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="table">
                <table class="table table-responsive">
                  <thead>
                    <th>TEST</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Test</td>
                    </tr>
                  </tbody>
                </table>
            </div>
          </div>
        </div> -->
      </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      <strong>Load E-GC</strong>
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <div class="row">
        <div class="col-md-3">
          <label>Amount</label>
        </div>
        <div class="col-md-7">
          <input type="text" [(ngModel)]="amount" class="form-control" name="amount" style="background-image: linear-gradient(to top, #caaa58 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);">
        </div>
      </div>
      <div class="row" style="margin-top: 15px">
        <div class="col-md-12">
          <button type="button" class="btn btn-default" (click)="openModal2(scanQrCode)">Scan QR code.</button>
              <!-- <div *ngIf="isScanning" (keyup.enter)="handleInput($event)" tabindex="1"></div> -->
            </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-md-3">
        <button type="button" (click)="loadegc()" class="btn btn-default">Submit</button>
      </div>
  </div>
  </div>
</ng-template>

<ng-template #scanQrCode>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Scan QR Code</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef2.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <div class="row">
          <div class="col-md-12">
              <input [readonly]="isScanned" type="text" (keyup.enter)="handleInput($event)" [(ngModel)]="query" name="query">
          </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-md-3">
        <button type="button" (click)="modalRef2.hide()" class="btn btn-default">Done</button>
      </div>
  </div>
  </div>
</ng-template>

